﻿@model Pay.Models.PaymentModel
<link href="/css/bootstrap.css" rel="stylesheet" />

<div class="card bg-white" style="margin:auto auto;">




    <center class="p-5 bg-danger">

        <label id="Message" class="h4 text-white">@Model.Message</label>
    </center>




    <table class="table table-bordered table-striped" style="align-content:center;margin:auto auto 32px auto;">
        
        <tr>
            <td style="width:50%; align-content:center;text-align:center;">
                <label id="lbl4" class="text-dark bg-info">میزان پرداخت</label>

            </td>
            <td style="width:50%;align-content:center;text-align:center;">
                <label id="Amount" class="text-dark bg-info">@Model.Amount</label>
            </td>

        </tr>
    </table>

    <table class="table" style="width:100%;align-content:center;">
        <tr>
            <td style="align-content:center;text-align:center;">
                <button id="back-btn" class="btn btn-success bg-info" onclick="backToKargozar()">بازگشت به موبایل</button>
            </td>
        </tr>
    </table>

</div>


<script>

    function backToKargozar() {

        @*window.location = '@PaymentData.MobileActivity';*@
        window.location = 'uniwebview://close';
        //window.location = 'intent:#Intent;action=schemas.kargozar.mekargozar.MainActivity;end';
    }
</script>



@*var loc;


    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        loc = '@PaymentData.MobileActivity';

    } else {
        loc = "@PaymentData.SiteAddress"
        document.getElementById("back-btn").innerHTML='بازگشت به سایت';
    }*@